[Sensor]
refreshRate=2
dhtPinExternal=4
dhtPinInternal=5
fanPin=6
heatherPin=7,8
radioPin=9
rpiFanPin=10
externalTempOffset=0
internalTempOffset=0
[MQTT]
mqttActive=False
host=
user=
password=
topic=homeassistant
externalTemperatureChannel=externalTemperatureChannel
externalHumidityChannel=externalHumidityChannel
internalTemperatureChannel=internalTemperatureChannel
internalHumidityChannel=internalHumidityChannel
fanStatusChannel=fanStatusChannel
heatherStatusChannel=heatherStatusChannel
radioChannel=radioChannel