[Sensor]
refreshRate=2
dhtPinExternal=4
dhtPinInternal=5
fanPin=6
heatherPin=7
radioPin=8
rpiFanPin=9
[MQTT]
mqttActive=False
host=
user=
password=
topic=homeassistant
externalTemperatureChannel=externalTemperatureChannel
externalHumidityChannel=externalHumidityChannel
internalTemperatureChannel=internalTemperatureChannel
internalHumidityChannel=internalHumidityChannel
fanStatusChannel=fanStatusChannel
heatherStatusChannel=heatherStatusChannel