[Sensor]
refreshRate=2
dhtPinExternal=4
dhtPinInternal=5
fanPin=6
heatherPin=7
[MQTT]
host=
user=
password=
topic=homeassistant
externalTemperatureChannel=externalTemperatureChannel
externalHumidityChannel=externalHumidityChannel
internalTemperatureChannel=internalTemperatureChannel
internalHumidityChannel=internalHumidityChannel
fanStatusChannel=fanStatusChannel
heatherStatusChannel=heatherStatusChannel